<h1>Types of Beans</h1>
<form id='search-bean' action='' method=''>
    <div class="mb-3">
        <label class="form-label"> Search beans with Country Name:</label>
        <input id='country_search_string' class="form-control" type='text' name='country_search_string' value=''>  
    </div>
<!--- this form does not submit directly, the button handles all the interaction with backend -->

    <input class='btn btn-primary' type="button" value="Search" onclick="searchBeansByCountry()">
</form>
<br />
<p><strong>Beans:</strong></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bean ID:</th>
            <th>Country of Origin:</th>
            <th>Roast Type:</th>
            <th>Roast Date:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
    {{#each beans}}
        <tr>
            <td>{{beanID}}</td>
            <td>{{countryOfOrigin}}</td>
            <td>{{roastType}}</td>
            <td>{{roastDate}}</td>
            <td><a href="/beans/{{beanID}}">Update</a></td>
            <td><button onclick="deleteBean({{beanID}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<br />

<h4>Make a New Bean:</h4>
<form id="addBean" method="POST" action="/beans/">
    <label for="countryOfOrigin">Country of Origin:</label><br />
    <input type="text" id="countryOfOrigin" name="countryOfOrigin"><br />
    <label for="roastType">Roast Type:</label><br />
    <input type="text" id="roastType" name="roastType"><br />
    <label for="roastDate">Roast Date:</label><br />
    <input type="date" id="roastDate" name="roastDate"><br />
    <button type="submit" class="btn btn-primary">Create a new Bean</button>
</form>

