<h2>Coffee:</h2>
<form id='search-coffee' action='' method=''>
    <div class="mb-3">
        <label class="form-label"> Search Coffee by Type:</label>
        <input id='type_search_string' class="form-control" type='text' name='type_search_string' value=''>  
    </div>
<!--- this form does not submit directly, the button handles all the interaction with backend -->

    <input class='btn btn-primary' type="button" value="Search" onclick="searchCoffeesByType()">
</form>
<br />
<h2>Current Coffees</h2>
<table>
    <thead>
        <tr>
            <th>Coffee ID:</th>
            <th>Type:</th>
            <th>Volume of Coffee (in grams):</th>
            <th>Volume of Water (in liters):</th>
            <th>Additive:</th>
            <th>Brew Time:</th>
            <th>Price:</th>
            <th>Special Requests:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each coffees}}
        <tr>
            <td>{{coffeeID}}</td>
            <td>{{type}}</td>
            <td>{{volumeOfCoffeeInGrams}}</td>
            <td>{{volumeOfWaterInLiters}}</td>
            <td>{{additive}}</td>
            <td>{{brewTime}}</td>
            <td>{{price}}</td>
            <td>{{specialRequest}}</td>
            <td><a href="/coffees/{{coffeeID}}">Update</a></td>
            <td><button onclick="deleteCoffee({{coffeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h4>Create a New Coffee</h4>
<form id="newCoffee" method="POST" action="/coffees/">
    <label for="type">Type:</label><br />
    <input type="text" id="type" name="type"><br />
    <label for="volumeOfCoffeeInGrams">Volume of Coffee (In Grams):</label><br />
    <input type="number" id="volumeOfCoffeeInGrams" name="volumeOfCoffeeInGrams"><br />
    <label for="volumeOfWaterInLiters">Volume of Water (In Liters):</label><br />
    <input type="number" id="volumeOfWaterInLiters" name="volumeOfWaterInLiters"><br />
    <label for="additive">Additive:</label><br />
    <input type="text" id="additive" name="additive"><br />
    <label for="brewTime">Brew Time:</label><br />
    <input type="text" id="brewTime" name="brewTime"><br />
    <label for="price">Price:</label><br />
    <input type="number" id="price" name="price"><br />
    <label for="specialRequest">Special Request:</label><br />
    <input type="text" id="specialRequest" name="specialRequest"><br />
    <button type="submit" class="btn btn-primary">Create a New Coffee</button>
</form>