<table class="table table-striped">
    <thead>
        <tr>
            <th>Coffee ID:</th>
            <th>Coffee Type:</th>
            <th>Order ID:</th>
            <th>Order Total:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each coffee_orders}}
        <tr>
            <td>{{coffeeID}}</td>
            <td>{{type}}</td>
            <td>{{orderID}}</td>
            <td>${{orderTotal}}</td>
            <td><button class="btn btn-danger" onclick="deleteCoffeeOrders({{coffeeID}}, {{orderID}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form id="addCoffeeOrder" method="POST" action="/coffee-orders/">
    <label for="coffeeID">Coffee ID</label>
    <select name="coffeeID" id="coffeeID">
        {{#each coffees}}
            <option value="{{coffeeID}}">{{coffeeID}} - {{type}}</option>
        {{/each}}
    </select><br />
    <label for="orderID">Order ID</label>
    <select name="orderID" id="orderID">
        {{#each orders}}
            <option value="{{orderID}}">{{orderID}} - ${{orderTotal}}</option>
        {{/each}}
    </select><br />
    <button type="submit">Add Tea Order</button> 
</form>