<a href="/new-coffee">Make a New Coffee</a><br>
<a href="coffee-order">Coffee Orders</a><br>
<a href="/beans-coffee">Coffee Beans</a><br>
<p>Filter:</p>
<form>
    <label for="coffeeID">Coffee ID:</label><br>
    <input type="text" id="coffeeID" name="coffeeID"><br>
    <label for="type">Type:</label><br>
    <input type="text" id="type" name="type"><br>
    <label for="additive">Additive:</label><br>
    <input type="text" id="additive" name="additive"><br>
    <button>Filter</button>
</form>
<br />
<table>
    <thead>
        <tr>
            <th>Coffee ID:</th>
            <th>Type:</th>
            <th>Volume of Coffee (in grams):</th>
            <th>Volume of Water (in liters):</th>
            <th>Additive:</th>
            <th>Brew Time:</th>
            <th>Price:</th>
            <th>Special Requests:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.coffeeID}}</td>
            <td>{{this.type}}</td>
            <td>{{this.volumeOfCoffeeInGrams}}</td>
            <td>{{this.volumeOfWaterInLiters}}</td>
            <td>{{this.additive}}</td>
            <td>{{this.brewTime}}</td>
            <td>{{this.price}}</td>
            <td>{{this.specialRequest}}</td>
            <td>'Update/Delete'</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<form id="newCoffee" method="POST" action="/newCoffee">
    <label for="type">Type:</label><br />
    <input type="text" id="type" name="type"><br />
    <label for="volumeOfCoffeeInGrams">Volume of Coffee (In Grams):</label><br />
    <input type="number" id="volumeOfCoffeeInGrams" name="volumeOfCoffeeInGrams"><br />
    <label for="volumeOfWaterInLiters">Volume of Water (In Liters):</label><br />
    <input type="number" id="volumeOfWaterInLiters" name="volumeOfWaterInLiters"><br />
    <label for="additive">Additive:</label><br />
    <input type="text" id="additive" name="additive"><br />
    <label for="brewTime">Brew Time:</label><br />
    <input type="text" id="brewTime" name="brewTime"><br />
    <label for="price">Price:</label><br />
    <input type="number" id="price" name="price"><br />
    <label for="specialRequest">Special Request:</label><br />
    <input type="text" id="specialRequest" name="specialRequest"><br />
    <button type="submit">Create a New Coffee</button>
</form>