<table>
    <thead>
        <tr>
            <th>Customer ID:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Reward Spend:</th>
            <th>Email:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{this.customerID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>${{this.rewardSpend}}</td>
                <td>{{this.email}}</td>
                <td><a href="/customers/{{this.customerID}}">Update</a></td>
                <td>
                    <button onclick="deleteCustomer({{this.customerID}})">Delete</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

<form id="addCustomer" method="POST" action="/addCustomer">
    <label for="firstName">First Name</label><br />
    <input type="text" id="firstName" name="firstName"><br />
    <label for="lastName">Last Name</label><br />
    <input type="text" id="lastName" name="lastName"><br />
    <label for="rewardSpend">Reward Spend</label><br />
    <input type="number" id="rewardSpend" name="rewardSpend"><br />
    <label for="email">Email:</label><br />
    <input type="email" id="email" name="email"><br />
    <button type="submit">Create a new Customer</button>
</form>