    <form id='search-order' action='' method=''>
        <div class="mb-3">
            <label class="form-label"> Search Orders with ID:</label>
            <input id='id_search_string' class="form-control" type='number' name='id_search_string' value='' />  
        </div>
        <input class='btn btn-primary' type="button" value="Search" onclick="searchOrdersByID()">
    </form>
    <br />
<h4>Current Orders:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Order ID:</th>
            <th>Order Date:</th>
            <th>Order Total:</th>
            <th>Customer ID:</th>
            <th>Customer Name:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each orders}}
        <tr>
            <td>{{orderID}}</td>
            <td>{{niceDate}}</td>
            <td>${{orderTotal}}</td>
            <td>{{customerID}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td><a href="/orders/{{orderID}}">Update</a></td>
            <td>
                <button class="btn btn-danger" onclick="deleteOrder({{orderID}})">Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h4>Create a New Order</h4>
<form id="addOrder" method="POST" action="/orders/">
    <label for="orderDate">Date:</label><br />
    <input type="date" id="orderDate" name="orderDate"><br />
    <label for="orderTotal">Order Price:</label><br />
    <input type="number" id="orderTotal" name="orderTotal"><br />
    <label for="customerID">Customer ID and Name:</label><br />
    <select name="customerID" id="customerID">
        {{#each customers}}
            <option value="{{id}}">{{id}} - {{firstName}} {{lastName}}</option>
        {{/each}}
    </select><br />
    <button type="submit" class="btn btn-primary">Create new order</button>
</form>