
<a href="/coffee-orders">Coffee Orders Table</a>
<br>
<a href="/tea-orders">Tea Orders Table</a>
<br>
<form>
    <p>Find an Order:</p>
    <label for="orderID">Order ID:</label><br>
    <input type="text" id="orderID" name="orderID"><br>
    <label for="orderDate">Date:</label><br>
    <input type="date" id="orderDate" name="orderDate"><br>
    <button>Filter</button>
</form>
<br />
<p><strong>Orders:</strong></p>
<table>
    <thead>
        <tr>
            <th>Order ID:</th>
            <th>Order Date:</th>
            <th>Order Total:</th>
            <th>Customer ID:</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each data}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.orderDate}}</td>
            <td>${{this.orderTotal}}</td>
            <td>{{this.customerID}}</td>
            <td><a href="/orders/{{this.orderID}}">Update</a></td>
            <td>
                <button onclick="deleteOrder({{this.orderID}})">Delete</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<h4>Create a New Order</h4>
<form id="addOrder" method="POST" action="/addOrder">
    <label for="orderDate">Date:</label><br />
    <input type="date" id="orderDate" name="orderDate"><br />
    <label for="orderTotal">Order Price:</label><br />
    <input type="number" id="orderTotal" name="orderTotal"><br />
    <label for="customerID">Customer ID:</label><br />
    <select name="customerID" id="customerID">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select><br />
    <button type="submit">Create new order</button>
</form>