<h2>Tea Orders</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tea ID:</th>
            <th>Tea Origin:</th>
            <th>Order ID:</th>
            <th>Order Total:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#each tea_orders}}
        <tr>
            <td>{{teaID}}</td>
            <td>{{origin}}</td>
            <td>{{orderID}}</td>
            <td>${{orderTotal}}</td>
            <td><button class="btn btn-danger" onclick="deleteTeaOrders({{this.teaID}}, {{this.orderID}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<form id="addTeaOrder" method="POST" action="/tea-orders/">
    <label for="teaID">Tea ID</label>
    <select name="teaID" id="teaID">
        {{#each teas}}
            <option value="{{teaID}}">{{teaID}} - {{origin}}</option>
        {{/each}}
    </select><br />
    <label for="orderID">Order ID</label>
    <select name="orderID" id="orderID">
        {{#each orders}}
            <option value="{{orderID}}">{{orderID}} - ${{orderTotal}}</option>
        {{/each}}
    </select><br />
    <button type="submit">Add Tea Order</button> 
</form>