    <h2>Types of Teas</h2>
    <form id='search-tea' action='' method=''>
        <div class="mb-3">
            <label class="form-label"> Search Teas with Origin:</label>
            <input id='origin_search_string' class="form-control" type='text' name='origin_search_string' value=''>  
        </div>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->

        <input class='btn btn-primary' type="button" value="Search" onclick="searchTeasByOrigin()">
    </form>
    <br />
    <h4>Current Teas:</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tea ID:</th>
                <th>Origin:</th>
                <th>Color:</th>
                <th>Matcha:</th>
                <th>Flavor:</th>
                <th>Season:</th>
                <th>Price:</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each teas}}
            <tr>
                <td>{{teaID}}</td>
                <td>{{origin}}</td>
                <td>{{color}}</td>
                <td>{{matcha}}</td>
                <td>{{flavor}}</td>
                <td>{{season}}</td>
                <td>{{price}}</td>
                <td><a href="/teas/{{teaID}}">Update</a></td>
                <td><button class="btn btn-danger" onclick="deleteTea({{teaID}})">Delete</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>

<h4>Make a New Tea</h4>
<form id="addTea" method="POST" action="/teas/">
    <label for="origin">Origin:</label><br />
    <input type="text" id="origin" name="origin"><br />
    <label for="color">Color:</label><br />
    <input type="text" id="color" name="color"><br />
    <label for="matcha">Matcha:</label><br />
    <input type="text" id="matcha" name="matcha"><br />
    <label for="flavor">Flavor:</label><br />
    <input type="text" id="flavor" name="flavor"><br />
    <label for="season">Season:</label><br />
    <input type="text" id="season" name="season"><br />
    <label for="price">Price:</label><br />
    <input type="number" id="price" name="price"><br />
    <button type="submit" class="btn btn-primary">Create New Tea</button>
</form>