<h1>Update {{order.orderID}}:</h1>
<form id="update-order" action="/updateOrder" method="POST">
    Order Date: <input type="date" name="orderDate" value="{{order.orderDate}}"><br>
    Order Price: <input type="number" name="orderTotal" value="{{order.orderTotal}}"><br>
    <label for="customerID">Customer ID:</label><br />
    <select name="customerID" id="customerID">
        {{#each customers}}
            <option value="{{id}}">{{firstName}} {{lastName}}</option>
        {{/each}}
    </select><br />
</form>
<button onclick="updateOrder({{order.orderID}})">Update</button>